<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <!-- Database Connection Information -->
    <add name="directory" connectionString="ht+YOgzgYRKYL/pe+e+2lpxYW1yAdZDCrkJVxmwukaLYk/XGaDHdXqfWeJZbgmBaLrr9M7eBvUJMR84xAYbyXPIWcxZigjXSlBsC9EwPW4ouBP19kuKOE6420IFRtAXg/m1rYwGnrFHBr087lHBVc3bsYHiclD8+LAKQq4klbwCAN6ayezUHqQGQjlt8oNekMIOYbF7VPPStqHY6yzrkY2EhBMOiroEt0/aqK7qetyweGBIvD+KFp1bbF7CgSFhQ25aQ4ommnAUXbvMyiXnAlA==" />
  </connectionStrings>
  <appSettings>
    <add key="Telerik.Web.UI.RenderMode" value="lightweight" />
  <add key="Telerik.Skin" value="Bootstrap" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
    
    
    
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <rule name="RemoveDotAspx" enabled="true" stopProcessing="true">
          <match url="(.*)\.aspx" />
          <action type="Redirect" url="{R:1}" />
        </rule>
        <rule name="AddDotAspx" enabled="true">
          <match url=".*" negate="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:0}.aspx" />
        </rule>
      </rules>
      <outboundRules>
        <clear />
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload"/>
        </rule>
      </outboundRules>
    </rewrite>-->
    <!--<httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy-Report-Only" value="default-src 'self' *.cedargrovebaptist.church; script-src 'self' 'unsafe-inline' 'unsafe-eval' *.cedargrovebaptist.church cdnjs.cloudflare.com/ajax/libs/pdf.js/2.2.2/; font-src 'self' fonts.gstatic.com/s/roboto/v15/ cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/; style-src 'self' 'unsafe-inline' *.cedargrovebaptist.church cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/style/; frame-src 'self' *.cedargrovebaptist.church" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>

</configuration>
